{% extends "layout.html" %}

{% block title %}
    Run
{% endblock %}


{% block main %}
    <form action="/run" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="run" placeholder="Run Distance in km" type="text"/>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="minutes" placeholder="Time Ran in Minutes" type="text"/>
        </div>
        <button class="btn btn-primary" type="submit">Enter</button>

{% endblock %}

{% block script %}

{% endblock %}